* {
	font-family: "JetBrains Mono", monospace;
	font-size: min(3vw, 15px);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5% 5% 5% 5%;
	text-align: left;
	line-height: 1.3;
	word-break: break-all;
	word-wrap: break-word;
}
